@charset "UTF-8";
/*navegação - nav*/
.nav-link {
    display: block;
    padding: 0.5rem 0;
    font-size: 25px;
    /* font-weight: var(--bs-nav-link-font-weight); */
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
#container-fluido {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.link{
    text-decoration: none;
    color: #48ABA8;
    font-size: 25px;
    border: 1px solid #48ABA8;
    border-radius: 10px;
    padding: 10px;
}
.link:hover{
    background-color: #48ABA8;
    color: white;
    border: 1px solid white;
}

/*Fim navegação*/

/*conteudo - começo*/
#logo{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container{
    width: 50%;
    margin: 25px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*fim do conteudo */
/*formulario*/
.form{
    width: 50%;
    margin: 25px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form input{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #48ABA8;
}
#botao{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: #48ABA8;
    font-size: 20px;
}
#botao:hover{
    background-color: #48ABA8;
    color : white;
    border: 5px solid #48ABA8;
}
.form h2{
    margin-right: 30px;
    margin-bottom: auto;
    font-size: 30px;
}
.form input :hover{
border: 1px solid #48ABA8;
}
/*fim formulario*/